<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="iOS">
        <parameter name="browser" value="iOS"/>
        <classes>
            <class name="WEB.Mobile.SectionCreditTest"/>
        </classes>
    </test>
    <test name="Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="WEB.Desctop.SectionTWOCreditTest"/>
        </classes>
    </test>
</suite>
